
/* 初期化 */
* {
  margin: 0;
  padding: 0;
}

/* 大枠 */
body {
  width: 100%;
}
#wrapper {
  width: 80%;
  margin: 0 auto 0 20px;
}

/* メイン */
.header {
    width: 100%;
    height: auto;
    margin: 20px 20px 0 20px;
    padding: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    border-top: 0;
    line-height: 1.5;
    word-break: break-all;
}
.gameTitle {
    width: 100%;
    margin: 15px 15px 0 15px;
    padding: 0 0 0 15px;
    font-size: 26px;
    font-weight: bold;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
    word-break: break-all;
}
.mainText {
    width: 100%;
    margin: 15px 15px 0 30px;
    padding: 0 0 0 15px;
    font-size: 20px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
    word-break: break-all;
}
.allTitle {
    width: 100%;
    margin: 15px 15px 0 15px;
    padding: 0;
    font-size: 25px;
    word-break: break-all;
}
.blockTitle {
    width: 100%;
    margin: 30px 15px 0 15px;
    padding: 0;
    font-size: 24px;
    word-break: break-all;
}
.baseRule {
    width: 100%;
    margin: 0 15px 0 30px;
    padding: 0;
    font-size: 20px;
    word-break: break-all;
}
.houseRule {
    width: 100%;
    margin: 0 15px 0 30px;
    padding: 0;
    font-size: 20px;
    word-break: break-all;
}
.normal {
    width: 100%;
    margin: 0 15px 0 30px;
    padding: 0;
    font-size: 20px;
    word-break: break-all;
}


