
/* 初期化 */
* {
  margin: 0;
  padding: 0;
}

/* 大枠 */
body {
  width: 100%;
}
#wrapper {
  width: 80%;
  margin: 0 auto 0 20px;
}

/* メイン */
.header {
    height: auto;
    width: 75%;
    margin: 20px 0 0 20px;
    padding: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    border-top: 0;
    line-height: 1.5;
}
.gameTitle {
    margin: 15px 0 0 15px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 26px;
    font-weight: bold;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}
.mainText {
    margin: 15px 0 0 30px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 20px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}
.AllTitle {
    margin: 15px 0 0 30px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 24px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}
.BlockTitle {
    margin: 15px 0 0 30px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 22px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}
.BaseRule {
    margin: 15px 0 0 30px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 20px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}
.HouseRule {
    margin: 15px 0 0 30px;
    width: 75%;
    padding: 0 0 0 15px;
    font-size: 20px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #0f5296;
}


